.DS_Store
*.swp
*~.nib

build/

*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspective
*.xcodeproj/*.perspectivev3
*.xcodeproj/*.mode1v3
*.xcodeproj/*.mode2v3
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
